/*
 * Empty Stylesheet file.
 */

/*.mainFxmlClass {
    -fx-background-image: url("../images/loading (1).gif"); 
}*/
.progressBar{
    -fx-background-color :  linear-gradient(to left, #808080 40%,#802876);
    -fx-background-radius: 10;
}